
.header {
    background-color: white;
    transition: all 0.3s ease;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    
    &.open-mobile {
      height: 100%;
    }
  }

